<div class="contact-list">
    <div class="head-wrapper">
        <div class="user-name">\{{userInfo.name}}</div>
        <div>
            <img v-bind:src="userInfo.avatar | avatarPath" alt="avatar">
        </div>
    </div>
    <div class="list-wrapper">
        <ul>
            <li v-for="contact in cont">
                <div class="list-item" v-bind:class="{active: $index == selectedIndex}"
                     v-on:click.stop.prevent="select(contact.id, $index, contact)">
                    <div class="contact-img">
                        <img v-bind:src="contact.avatar | avatarPath" alt="avatar">
                    </div>
                    <div class="contact-name">
                        <div class="contact-name-content">\{{contact.name}}</div>
                    </div>
                    <div class="contact-control">
                        <button class="sticky-button" v-bind:class="{active: contact.isSticky == true}"
                                v-on:click.stop.prevent="updateSticky(contact.id, $index)">Stk</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>