<div class="container">
    <div class="body">
        <div class="title">Sign In</div>
        <div class="content">
            <div class="item">
                <label for="login-email">Email</label>
                <input type="text" id="login-email" v-model="email">
            </div>
            <div class="item">
                <label for="login-password">Password</label>
                <input type="text" id="login-password" v-model="password">
            </div>
            <div class="item">
                <button class="login-btn" v-on:click="login()">Sign In</button>
            </div>
        </div>
    </div>
</div>