<div class="message-item" v-bind:class="{reverse: m.sender == u.userid}" data-sender="\{{m.sender}}" data-receiver="\{{m.receiver}}">
    <span class="message-contact">aa</span>
    <span class="message-content">\{{m.content}}</span>
    <span class="message-time">\{{m.timestamp | timeConvert}}</span>
    <div class="clear"></div>
</div>