<div class="status-wrapper" v-show="contInfo">
    <span class="contact-marker">Dialog with</span>
    <span class="contact-name">\{{contInfo.name}}</span>
    <span class="contact-status" v-if="contInfo.isOnline">Contact is online</span>
    <span class="contact-status" v-else>Contact is offline</span>
</div>