<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/dist/bundle.css"/>
</head>
<body class="boost-chat-app">
    <boost-chat :messages.sync="messages" :user.sync="user"></boost-chat>
    <script src="/dist/bundle.js"></script>
</body>
</html>