<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div class="user-auth">
        <login-panel></login-panel>
    </div>
    <script src="/dist/login.js"></script>
</body>
</html>