@import "basicwrapper";

.input-wrapper {
  @extend .basic-wrapper;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  input[name="message-input"] {
    width: 80%;
    height: 40px;
    border: 0;
    padding-left: 20px;
    padding-right: 30px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
    font-size: 20px;
  }

  .message-submit {
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    margin-left: -5px;
    border: 0;
    outline: none;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.26);
    font-size: 18px;
  }

  .message-submit:hover {
    background-color: #eee;
  }
}